<main class="contenedor">
    <form action="/vacantes/nueva" method="POST" class="default-form">
        <h3>Información general</h3>
        <div class="campo">
            <label>Título</label>
            <input type="text" name="titulo" placeholder="Ej: React Developer" required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" name="empresa" placeholder="Empresa contrata" required>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="ubicacion" placeholder="Ej: México" required>
        </div>
        <div class="campo">
            <label>Salario (USD)</label>
            <input type="text" name="salario" placeholder="Ej: 500 usd" required>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                <option value="" disabled selected>-- Selecciona --</option>
                <option value="Freelance">Freelance</option>
                <option value="Tiempo Completo">Tiempo completo</option>
                <option value="Medio tiempo">Medio tiempo</option>
                <option value=Por proyecto"">Por proyecto</option>
            </select>
        </div>
        <h3>Descripción del puesto</h3>
        <div class="campo descripcion">
            <label>Descripción</label>
            <input type="hidden" name="descripcion" id="x">
            <trix-editor input="x"></trix-editor>
        </div>
        <h3>Conocimientos:</h3>
        <ul class="lista-conocimientos">
            {{#seleccionarSkills a}}
            {{/seleccionarSkills}}
        </ul>
        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" class="btn btn-azul" value="Publicar">
        </div>

    </form>
</main>